<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        
        id        = "org.glittle.timer"
        version   = "0.0.1">

    <name>timer</name>

    <description>
        a simpler timer
    </description>

</widget>
