*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
@font-face{font-family:LatoLight;src:url('fonts/Lato-Lig.ttf');}html,body{overflow:hidden;background-color:#556270;height:100%;width:100%;color:#ffffff;font-family:LatoLight;}
#MainDisplay{width:100%;height:100%;}
#TimeDisplay{height:70%;width:100%;}
#ButtonControls{width:100%;height:30%;font-size:200%;}#ButtonControls>div{float:left;}
#ButtonControls #control{width:100%;height:50%;}#ButtonControls #control>div{border:1px solid #ffffff;width:49.8%;height:100%;float:left;}#ButtonControls #control>div>div{display:table;margin:0 auto;}
#ButtonControls #control>div:active{background-color:#4ecdc4;}
#ButtonControls #add{width:100%;height:50%;}#ButtonControls #add>div{height:100%;width:33.16%;border:1px solid #ffffff;float:left;}
#ButtonControls #add>div:active{width:33%;float:left;background-color:#4ecdc4;}
#ButtonControls #add .minutes>div{display:table;margin:0 auto;}
#time{display:table;margin:0 auto;font-size:800%;padding-top:5%;}
